@font-face {
    font-family: 'Geometria';
    src: local('Geometria Medium'), local('Geometria-Medium'),
        url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff'),
        url('Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }